/*******************************
            header
*******************************/

#main-header {
  background: $bg-white;
};

.toggle {
  text-align: right;
}

.toggle img {
  width: 26px;
}
.main-menu {
  border-top: 1px solid $col-lightgray;
  .navbar {
      display: none;
      position: relative;
     .diamond {
       position: absolute;
       top: -16px;
       right: 5px;
       border: {
         top: 1px solid $col-lightgray;
         left: 1px solid $col-lightgray;
         bottom: 1px $col-lightgray;
       }
       background: $bg-white;
       width: 15px;
       height: 15px;
       transform: rotate(45deg);
     }
  }//navbar
}//main-menu


@include tablet{
  .toggle {
    display: none;
  }

  .logo {
    text-align: left;
    vertical-align: middle;
    margin-top: 10px;
  }

  nav.main-menu {
    border: 0;
    padding-right: 0px;
    ul.navbar {
      display: flex;
      justify-content: flex-end;
      list-style: none;
      align-items: center;
      li {
        padding: 0px 10px;
      }//li
      li:last-child{
        padding:0px 0px;
      }
    }//navbar
  }//main-menu

.border {
  padding: {
    left: 0px;
    right: 0px;
    top:10px;
    bottom: 10px;
  }
  border: {
    bottom: 1px solid gray;
  }
  }//.border
}//tablet

@include desktop {

  #main-header {
    text-align: center;
    border: none;
  }
}//desktop
