/**************************************
        vars
**************************************/

<<<<<<< HEAD
// bg-colors
=======
// colors
>>>>>>> master
$bg-lightgreen : lightgreen;
$bg-red : red;
$bg-green : green;
$bg-orange : orange;
$bg-black : #000;
$bg-white : #fff;
<<<<<<< HEAD
$bg-lightgray : #58402c;

// colors
$col-lightgray : #58402c;
=======

>>>>>>> master
// tipography

// setup
