/**************************************
        vars
**************************************/

// bg-colors
$bg-lightgreen : lightgreen;
$bg-red : red;
$bg-green : green;
$bg-orange : orange;
$bg-black : #000;
$bg-white : #fff;
$bg-lightgray : #58402c;

// colors
$col-lightgray : #58402c;
// tipography

// setup
