/**************************************
        vars
**************************************/

// bg-colors
// colors
$bg-lightgray : #58402c;
$bg-blue : #30488f;
$bg-white : #fff;


// colors
$col-lightgray : #bdb5af;
$col-blue : #30488f;
$col-white : #fff;
// tipography

// setup
